@font-face {
    font-family: 'font-icons';
    src: url('./font-icons.eot');
    src: url('./font-icons.eot?#iefix') format('embedded-opentype'),
    url('./font-icons.woff2') format('woff2'), 
    url('./font-icons.woff') format('woff'),
    url('./font-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'font-icons' !important;
    speak: none;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-about:before {
    content: "\e900";
}
.icon-account-cog:before {
    content: "\e901";
}
.icon-add:before {
    content: "\e902";
}
.icon-alert:before {
    content: "\e903";
}
.icon-alert-circle:before {
    content: "\e904";
}
.icon-check:before {
    content: "\e905";
}
.icon-checkmark:before {
    content: "\e906";
}
.icon-chevron-left:before {
    content: "\e907";
}
.icon-chevron-right:before {
    content: "\e908";
}
.icon-circle_close:before {
    content: "\e909";
}
.icon-close:before {
    content: "\e90a";
}
.icon-copy:before {
    content: "\e90b";
}
.icon-delete:before {
    content: "\e90c";
}
.icon-exit_fullscreen:before {
    content: "\e90d";
}
.icon-fullscreen:before {
    content: "\e90e";
}
.icon-help:before {
    content: "\e90f";
}
.icon-monitor:before {
    content: "\e910";
}
.icon-monitor-screenshot:before {
    content: "\e911";
}
.icon-more:before {
    content: "\e912";
}
.icon-more-vertical:before {
    content: "\e913";
}
.icon-play:before {
    content: "\e914";
}
.icon-power:before {
    content: "\e915";
}
.icon-settings:before {
    content: "\e916";
}
.icon-stop:before {
    content: "\e917";
}
.icon-warning:before {
    content: "\e918";
}
