@font-face {
    font-family: 'fonticons-icons';
    src: url('./fonticons-icons.eot');
    src: url('./fonticons-icons.eot?#iefix') format('embedded-opentype'),
        url('./fonticons-icons.woff2') format('woff2'),
        url('./fonticons-icons.woff') format('woff'),
        url('./fonticons-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="fonticons-"],
[class*=" fonticons-"] {
    font-family: 'fonticons-icons' !important;
    speak: none;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fonticons-about:before {
    content: "\e900";
}

.fonticons-account-cog:before {
    content: "\e901";
}

.fonticons-add:before {
    content: "\e902";
}

.fonticons-check:before {
    content: "\e903";
}

.fonticons-checkmark:before {
    content: "\e904";
}

.fonticons-chevron-left:before {
    content: "\e905";
}

.fonticons-chevron-right:before {
    content: "\e906";
}

.fonticons-circle_close:before {
    content: "\e907";
}

.fonticons-close:before {
    content: "\e908";
}

.fonticons-delete:before {
    content: "\e909";
}

.fonticons-exit_fullscreen:before {
    content: "\e90a";
}

.fonticons-fullscreen:before {
    content: "\e90b";
}

.fonticons-help:before {
    content: "\e90c";
}

.fonticons-more:before {
    content: "\e90d";
}

.fonticons-more-vertical:before {
    content: "\e90e";
}

.fonticons-play:before {
    content: "\e90f";
}

.fonticons-power:before {
    content: "\e910";
}

.fonticons-settings:before {
    content: "\e911";
}

.fonticons-stop:before {
    content: "\e912";
}

.fonticons-warning:before {
    content: "\e913";
}